.abilities {
    background-color: #f3efe0;
    color: black;
}
.list-unstyled li span {
    color: black;
    width: 50%;
}
.abilities h2{
    border-bottom: 1px solid #eee;
}

li .title {
    display: inline-block;
    width: 50%;
}
.score {
    float: right;
    width: 50%;
    .glyphicon {
        width: 20%;
    }
    .filled {
        color: #22A39F;
    }
    .empty {
        color: #a2a2a2;
    }
}
