.abilities {
    background-color: rgba(253, 247, 226, 0.36);
    color: black;
    margin-top: 40px;
    padding-bottom: 40px;
}
.list-unstyled li span {
    color: black;
    width: 50%;
}
.abilities h2{
    border-bottom: 1px solid #a2a2a2;
}

.ability {
    padding: 10px;
    transition: all .5s ease-in-out;
        &:hover {
            .score {
                transform: scale(1.1);
                transition: all .5s ease-in-out;
                }
            background-color: rgba(222, 221, 221, 0.74);
        }
    .title {
        display: inline-block;
        width: 50%;
    }
    .score {
        float: right;
        width: 50%; 
        .glyphicon {
            width: 20%;
        }
        .filled {
            color: #22A39F;
        }
        .empty {
            color: #a2a2a2;
        }
    }
}


 