.Footer {
    bottom: 0px;
    background-color: #111;
    color: #FFFFFF;
    bottom: 0px;
    width:100%;
    .wrap {
        padding-top: 20px;
    }
    .contactDetails, .socialMedia {
        padding-top: 20px;
    }
    .social {
        padding-top: 20px;
    }
    h4 {
        padding-bottom: 20px;
        margin-left: 30%;
        margin-right: 30%;
        color: #f8f8ff;
        border-bottom: 1px solid #a2a2a2;
        font-style: normal;
    }
    ul {
        margin-bottom: 0px;
    }
    li {
        list-style:  none;
        margin-right: 30px;
        display: inline-block;
        transition: all .5s ease-in-out;
        &:hover {
            transform: scale(1.2);
        }
        a i {
            font-size: 28px;
            color: #b9b7b7;
            &:hover {
                color: white
            }
            p {
                font-size: 16px;
                margin-top: 10px;
            }
        }
        a:link {
            text-decoration: none;
        }
    }
    .bottom-side {
        height: 50px;
        background-color: #000;
        p {
            font-size: 10px;
            margin-top: 0px;
            padding-top: 20px;
        }
    }
}
