.Footer {
    bottom: 0px;
    background-color: #111;
}

.wrap{
    padding-top: 20px;
}
.Footer{
    color: #FFFFFF;
    bottom: 0px;
    width:100%;
}
.Footer h4 {
    padding-bottom: 15px;
    margin-left: 35%;
    margin-right: 35%;
    color: #a2a2a2;
    border-bottom: 1px solid #a2a2a2;
    font-style: normal;
}
.Footer ul{
    margin-bottom: 0px;
}
.Footer .text-center{
    text-align: center;
}

.Footer li {
    list-style:  none;
    margin-right: 20px;
    display: inline-block;
}
.Footer li a i {
    font-size: 28px;
    color: #eee;
}
.Footer li a {
    font-style: normal;
}
.Footer li a:link {
    text-decoration: none;
}

.Footer li a i p{
    font-size: 14px;
    margin-top: 10px;
}

.bottom-side{
    height: 50px;
    background-color: grey;
}
.bottom-side p{
    font-size: 10px;
    margin-top: 0px;
    padding-top: 20px;
}
