.navbar-ex1-collpase {
    padding: 0px;
}
.navbar {
    position: fixed;
    top: 100px;
    background-color: #222222;
    right: 5%;
    z-index: 999;
    border-color: transparent;
    background-image: none;
    margin-bottom: 0px;
    .navbar-nav li {
        display: block;
        float: none;
        color: white;
        padding: 10px;
        border-radius: 0px;
        box-sizing: border-box;
        border: 2px solid transparent;
        &:hover{
            border: 2px solid white;
            cursor: pointer;
            color: #fff;
        }
    }
}

.active{
    background-color: #22A39F;
}
