.navbar {
    //position: absolute;
    background-color: #111;
    width: 100%;
    z-index: 999;
    border-color: transparent;
    background-image: none;
    margin-bottom: 0px;
    .navbar-nav {
        float: right;
        li {
            display: block;
            color: white;
            padding: 10px;
            border-radius: 0px;
            box-sizing: border-box;
            border: 2px solid transparent;
            &:hover{
                cursor: pointer;
            }
        } 
    }
}
.affix {
      top: 0;
      width: 100%;
      position: fixed;
  }

.active{
    background-color: #22A39F;
}
.inactive {
    background-color: #222222;
}
