.navbar {
    background-color: #111;
    transition: all .5s linear;
    z-index: 999;
    border-color: transparent;
    background-image: none;
    margin-bottom: 0px;
    .navbar-fixed-top {
        border-width: 0px;
    }
    .navbar-nav {
        text-align: center;
        float: right;
       li a {
            display: inline-block;
            color: white;
            padding: 15px;
            border-radius: 0px;
            box-sizing: border-box;
            border: 2px solid transparent;
            &:hover{
                cursor: pointer;
                text-decoration: none;
                color: white;
            }
        } 
    }
}
.affix {
      top: 0;
      width: 100%;
      position: fixed;
  }

 .black {
    background-color: #181513;
 } 
.active{
    background-color: #22A39F !important;
}
.inactive {
    background-color: #222222;
}
@media screen and (max-width: 767px){
    .navbar .navbar-nav {
        margin: 0;
        float: none;
        width: 100%;
        li a{
            width: 100%;
        }
    }
    .navbar-collapse {
        padding-right: 0px;
        padding-left: 0px
    }
}