.about {
    margin-bottom: 40px;
    h2 {
        width: 100%;
        padding-bottom: 30px;
        border-bottom: 1px solid #eee;
    }
    h3 {
        font-style: italic;
        margin-bottom: 30px;
    }
}
.photo img {
    border-radius: 50%;
    width: 100%;
    border: 3px solid #22a39f;

}
.list-unstyled li .detail {
    width: 40%;
}
.list-unstyled li{
    margin-top: 12px;
    span{
        display: block;
        float: left;
        width: 40%;
        color: #a2a2a2;
    }
    
}

@media screen and (max-width: 768px){
    .photo {
        margin-top: 20px;
    }
}
