.resume {
    margin-bottom: 40px;
    h2 {
        width: 100%;
        padding-bottom: 30px;
        border-bottom: 1px solid #eee;
        

    }
    h3 {
        margin-bottom: 30px;
    }
    h4 {
        font-weight: bold;
    }
}
.box {
    background-color: ghostwhite; 
    border-top: 2px solid #40cac5;
    margin-bottom: 30px;
    padding: 20px;
    height: 100%;
    transition: all .5s ease-in;
    &:hover {
        background-color: rgb(202, 233, 234);
    }
    a {
        margin-top: 20px;
        text-decoration: none;
        color: #22a39f;
    }
    .description {
        margin-top: 20px;
    }
    .period {
        margin-bottom: 20px;
    }
    .glyphicon-map-marker, .glyphicon-briefcase, .glyphicon-pencil, .glyphicon-certificate{
        margin-right: 10px;
        color: #40cac5;
    }
}

.buttonCv {
    background-color: #22A39F;
    border: none;
    padding: 10px 10px;
    margin: 5px;
    border-radius: 30px;
    transition: all .5s ease;
    &:focus{
        outline: none;
    }
    &:hover{
        background-color: #40cac5;
        transform: scale(1.2);
    }
    a {
        text-decoration: none;
        color: #fff;
    }
}
.arrow  {
    font-size: 50px;
    position: absolute;
    right: 15px;
    &:hover{
        color: #40cac5;
        transform: scale(1.1);
    }
}
