.resume {
    margin-bottom: 40px;
    h2 { //merge pus in app.less ca si section-title
        width: 100%;
        padding-bottom: 30px;
        border-bottom: 1px solid #eee;
    }
    h3 {
        font-style: italic;
        margin-bottom: 30px;
    }
}
.experience {
    padding-top: 10px;
}

.box {
    background-color: #40cac5; //#119DA4
    margin-bottom: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    height: 200px;

    transition: all 2s ease;
    &:hover {
        background-color: #119DA4;
        opacity: .9;
        color: white;
    }
}

.buttonCv {
    background-color: #22A39F;
    border: none;
    padding: 10px 10px;
    margin: 5px;
    border-radius: 30px;
    transition: all 2s ease;
    &:focus{
        outline: none;
    }
    &:hover{
        background-color: #40cac5;
    }
    a {
        text-decoration: none;
        color: #fff;
    }
}
